ul.checkboxes {
  @include noselect;
  margin-bottom: 10px;

  li {
    display: inline-block;
    align-items: center;
    padding-right: 30px;

    label {
      display: inline-flex;
      align-items: center;
      font-size: 14px;
      cursor: pointer;

      div {
        margin-left: 15px;
      }

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkmark {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        height: 15px;
        width: 15px;
        font-size: 10px;
        background-color: white;
        border: 1px solid #c8c8c8;
        border-radius: $default-border-radius;
        font-size: 15px;
        color: $primary;

        svg {
          opacity: 0;
        }
      }

      input:checked ~ .checkmark {
        svg {
          opacity: 1;
        }
      }
    }
  }
}
