.box {
  display: block;
  height: 312px;
  width: 933px;
}

#filter {
  display: flex;
  justify-content: center;
}

.pane {
  background-color: white;
  padding: 20px 40px;
  @include shadow;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  text-overflow: ellipsis;
}

.grid > div {
  display: flex;
  align-items: center;
}

@media (max-width: $screen-md-min) {
  .grid > div:nth-child(7) {
    justify-content: center;
  }
  .grid > div:nth-child(8) {
    button {
      width: 50%;
      text-align: center;
    }
  }
}

@include md {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .grid > div {
    display: flex;
    align-items: center;
  }

  .grid > div:nth-child(1),
  .grid > div:nth-child(6) {
    grid-column: 1/3;
  }
}

@include lg {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .grid > div {
    display: flex;
    align-items: center;
  }

  .grid > div:nth-child(1),
  .grid > div:nth-child(7) {
    grid-column: 1/3;
  }
  .grid > div:nth-child(6),
  .grid > div:nth-child(8) {
    grid-column: 3/5;
  }
}

main {
  max-width: 933px;
  margin: 0 auto;
  &.product-grid {
    .list {
      margin-bottom: 100px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }

  &.product-flex {
    .list {
      margin-bottom: 100px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }
}
