.money-range {
  ul {
    li {
      display: flex;
      padding: 20px 10px;
      color: $default-color;
      align-items: center;

      div,
      input {
        margin-right: 5px;
      }

      input {
        border: none;
        border-bottom: 1px solid #c8c8c8;
        outline: none;
      }
    }

    li:hover {
      background: transparent;
      color: $default-color;
    }
  }
}
