$primary: #ca242e;
$secondary: white;
$tertiary: #e0a047;

$font-family: "Poppins", sans-serif;

$background: #f4f4f4;
$default-border-radius: 4px;

$default-color: #4d4c59;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin shadow {
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.3);
}

@mixin default-border {
  border: 1px solid #c8c8c8;
  border-radius: $default-border-radius;
}
